<!--<nav class="navbar navbar-light bg-faded">-->
  <!--<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--&#9776;-->
  <!--</button>-->
  <!--<div class="navbar-toggleable-xs">-->
    <a class="navbar-brand" href="#">Responsive navbar</a>
    <ul class=" list-group">
      <li class="list-group-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="list-group-item">
        <ngbd-dropdown-config></ngbd-dropdown-config>
      </li>
      <li class="list-group-item nav">
        Pricing
      </li>
      <li class="list-group-item nav-link">
        About
      </li>
      <li class="list-group-item">
        About
      </li>
    </ul>
  <!--</div>-->
  <!--<div ngbDropdownMenu >-->
    <!--<button class="dropdown-item">AAAAA</button>-->
    <!--<button class="dropdown-item">AAAAA</button>-->
    <!--<button class="dropdown-item">AAAAA</button>-->
    <!--<ul class="nav list-group">-->
    <!--<li class="list-group-item">-->
    <!--<a class="nav-link" href="#">INNER</a>-->
    <!--</li>-->
    <!--<li class="list-group-item">-->
    <!--<a class="nav-link" href="#">INNER</a>-->
    <!--</li>-->
    <!--<li class="list-group-item">-->
    <!--<a class="nav-link" href="#">INNER</a>-->
    <!--</li>-->
    <!--<li class="list-group-item">-->
    <!--<a class="nav-link" href="#">INNER</a>-->
    <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->


