


.detailsHolder{
  max-width: 36.8rem!important;
  margin: 1px;
}


.fixed_wide{
  height: 350px;
  width:35rem!important;
}

.fixed_narrow{
  height: 350px;
  width:31rem!important;
}

.column {
  float: left;
  width: 16.66%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.custom_prev,.custom_next{
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next,.custom_next {
  /*right: 0;*/
  border-radius: 3px 0 0 3px;
  left: 34rem;
  width: 2em;
}

/* On hover, addItems a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.custom_next:hover,
.custom_prev:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.custom_numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


  /* Hide the images by default */
.mySlides {
  /*display: none;*/
  margin: 5%;
}

div.myButton input {
  background:url(../../../assets/if_Close_22138.png) no-repeat;
  cursor:pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  /*margin-top: 3rem;*/
  margin-left: 1rem;
  position: relative;
  top: 4rem;
  left: 28.5rem;
}
div.myButton{
  height: 0rem;
  width: 0px;
}



