

<div *ngFor="let img of slides;let i = index" [hidden]="img.hidden" [class.mySlides]="slideMargin">
  <div [class]="narrowClasses[2]">{{i+1}} / {{slides.length}}</div>
  <img *ngIf="i==0" [src]="img.src" style="width:100%" class="img-responsive" [class]="imageSize">
  <img *ngIf="i!==0" [src]="'http://localhost:8080/fotos?path='+img.src" style="width:100%"
       class="img-responsive" [class]="imageSize">
</div>

<!-- Next and previous buttons -->
<a [class]="narrowClasses[0]" (click)="plusSlides(-1)">&#10094;</a>
<a [class]="narrowClasses[1]" (click)="plusSlides(1)">&#10095;</a>

<!-- Image text -->
<div class="caption-container">
  <p id="caption">{{item.name}}</p>
</div>

<!-- Thumbnail images -->
<div class="row">
  <div style="margin-left: 4%">
    <div *ngFor="let img of slides;let i = index" class="column">
      <img *ngIf="i==0" class="demo cursor" [src]="img.src" style="width: 100%" (click)="currentSlide(i)">
      <img *ngIf="i!=0" class="demo cursor" [src]="'http://localhost:8080/fotos?path='+img.src"
           style="width:100%" (click)="currentSlide(i)" alt="The Woods">
    </div>

  </div>
</div>
