<ag-grid-angular
  [rowClass]="rowClass"
  #agGrid
  style="width: 100%; height:auto;"
  class="ag-theme-balham-dark"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="content"
  [columnDefs]="columnDef ? columnDef : columnDefs"
  [defaultColDef]="defColumnDef"
  [domLayout]="domLayout"
  rowSelection="none"
  [getRowHeight]="getRowHeight"
  [pagination]="true"
  [paginationPageSize]="8"
  [columnTypes]="columnTypes"
  (gridReady)="onGridReady($event)"
  (rowClicked)="onRowSelected($event)"
  (cellClicked)="onCellClicked($event)"
  [frameworkComponents]="getComponents()"
  [getRowNodeId]="grnId"
  suppressCellSelection="true"

>
</ag-grid-angular>


