<div class="row detailsHolder">
  <div class="col-12">
  <div class="white cont">
    <div class="myButton"><input type="button" value="" (click)="closeDetails()"></div>
      <app-slider [item]="item" [imageSize]="'fixed_wide'"></app-slider>

        <div class="col-12">
          <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
            <h1>Super s</h1>
            <hr/>

            <p class="availability">Наличие: <span class="color">Осталось только: {{item.quantity}}</span></p>


            <div class="price_single">
              <span class="item_price">1&nbsp;200 $ </span>
            </div>
            <h2>Детали:</h2>
            <p class="quick_desc"> bla-bla-bla-blaaaaaaaaaaaaaaaaa
            </p>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--</div>-->
</div>
