<div class="container cont">
  <div class="white">
    <div class="row">
      <div class="col-6">
        <app-slider [item]="item" [slideMargin]="true"></app-slider>
      </div>
      <div class="col-5 offset-1">
        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
          <h1>Super s</h1>
          <hr/>

          <p class="availability">Наличие: <span class="color">Осталось только: {{item.quantity}}</span></p>


          <div class="price_single">
            <span class="item_price">1&nbsp;200 $ </span>
          </div>
          <h2>Детали:</h2>
          <p class="quick_desc"> bla-bla-bla-blaaaaaaaaaaaaaaaaa
          </p>
          <br/>
          <hr/>
          <div class="quantity_box">
            <ul class="product-qty">
              <span>Количество:</span>
              <select #selected id="selectf">
                <option *ngFor="let quan of [] | range:item.quantity;index as i">{{i+1}}</option>
              </select>
            </ul>
          </div>
          <a href="#" class="btn btn-primary btn-normal btn-inline btn_form button" (click)="addItemsToBucket()">Добавить
            в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sap_tabs">
      <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">

        <div class="resp-tabs-container">
          <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
               style="display:block">
            <div class="facts">
              <ul class="tab_list">
                <li><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequadsdsdtaugue duis dolore te
                  feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                  doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
                  legentis in iis qui facit eorum claritatem. Investigationclaritatem insitam; est usus legentis in iis
                  qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt
                  saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                  est notare quam littera gothicae</p></li>

                <li><p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                  formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                  videntur parum clari, fiant sollemnes in futurum.</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
